:root {
    --bgd-color: #2F303A;
    --accent-color: #2196F3;
    --special-color: #188CE8;
    --p-color: #757575;
    --milk-color: #F5F4FA;
    --main-color: #212121;
    --clear-gray-color: rgba(255, 255, 255, 0.6);
    --light-gray-color: #FFFFFF;
    --white-color: #fff;
    --black-color: #000;
}

.link {
    text-decoration: none;
}


.list {
    list-style-type: none;
}

.logo-header {
    color: var(--black-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.logo-part {
    color: var(--accent-color);
}

.main-menu {
    color: inherit;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.link:hover,
.link:focus,
.current {
    color: var(--accent-color);
}

.contacts-header {
    color: var(--p-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.header-main-page {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.main-page {
    background-color: var(--bgd-color);
    text-align: center;
}

.main-page-button {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    font-family: inherit;
}

.main-page-button:hover
.main-page-button:focus {
    background-color: var(--special-color);
}

.feature-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.feature-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--p-color);
}

.index-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.team {
    background-color: var(--milk-color);
    width: 100%;
}

.team-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.team-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--p-color);
}

footer {
    background-color: var(--bgd-color);
}

address {    
    font-family: inherit;
    font-style: normal;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-color);
}    
    
.logo-footer {    
    color: var(--white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.contacts-footer {
    color: var(--clear-gray-color);
}

.adress-footer {
    color: var(--white-color);
}

.filter {
    cursor: pointer;
    background-color: var(--milk-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-family: inherit;
}

.filter:focus,
.filter:hover,
.current-btn {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
    width: 370px;
    height: 404px;
    border: 1px solid var(--light-gray-color);
    background-color: var(--white-color);
}

.project-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--main-color);
    text-align: left;
}

.project-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--p-color)
}